<h1>Editing milestone</h1>

<% form_for(@milestone) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
<<<<<<< HEAD:app/views/milestones/edit.html.erb
    <%= f.label :project %><br />
    <%= f.select :project_id, @projects %>
=======
    <%= f.label :name %><br />
    <%= f.text_field :name %>
>>>>>>> 842ffe4f2ef88bfa88337ee09ea3858e4f05d24c:app/views/milestones/edit.html.erb
  </p>
  <p>
    <%= f.label :percentage %><br />
    <%= f.text_field :percentage %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @milestone %> |
<%= link_to 'Back', milestones_path %>
