<h1>Editing milestone</h1>

<% form_for(@milestone) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :project %><br />
    <%= f.select :project_id, @projects %>
  </p>
  <p>
    <%= f.label :percentage %><br />
    <%= f.text_field :percentage %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @milestone %> |
<%= link_to 'Back', milestones_path %>
