<h1>Listing milestones</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Percentage</th>
  </tr>

<% for milestone in @milestones %>
  <tr>
    <td><%=h milestone.name %></td>
    <td><%=h milestone.project %></td>
    <td><%=h milestone.percentage %></td>
    <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
    <td><%= link_to 'Destroy', milestone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New milestone', new_milestone_path %>
