<p>
  <b>Name:</b>
  <%=h @milestone.name %>
</p>

<p>
  <b>Project:</b>
<<<<<<< HEAD:app/views/milestones/show.html.erb
  <%=h @milestone.project.name %>
=======
  <%=h @milestone.project %>
>>>>>>> 842ffe4f2ef88bfa88337ee09ea3858e4f05d24c:app/views/milestones/show.html.erb
</p>

<p>
  <b>Percentage:</b>
  <%=h @milestone.percentage %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
