<h1>New task</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :milestone %><br />
<<<<<<< HEAD:app/views/tasks/new.html.erb
    <%= f.select :milestone_id, @milestones %>
=======
    <%= f.text_field :milestone %>
>>>>>>> 842ffe4f2ef88bfa88337ee09ea3858e4f05d24c:app/views/tasks/new.html.erb
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>
