<h1>Projects</h1>

<table>
  <tr>
    <th>Project</th>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%=h project.name %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tr>
    <td style="padding-bottom:1.5em;padding-left:2em;"> 
<ul> 
   <% for milestone in project.milestones %>
    <li>  <%= milestone.name %>
       <ul style="margin-left:1em;padding-left:5px;"><% for task in milestone.tasks %>
       <li><%= task.name %></li>
       <% end %> </ul></li>
   <% end %>
   </ul> </td>
    <td colspan="3" >&nbsp;</td></tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
